In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
# Load the data
url= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%202/data/FuelConsumptionCo2.csv"
df = pd.read_csv(url)
df.sample(5)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
326,2014,DODGE,GRAND CARAVAN FFV,MINIVAN,3.6,6,A6,X,13.7,9.4,11.8,24,271
969,2014,TOYOTA,CAMRY,MID-SIZE,3.5,6,AS6,X,11.1,7.8,9.6,29,221
621,2014,KIA,SORENTO,SUV - SMALL,2.4,4,A6,X,11.8,8.5,10.3,27,237
852,2014,NISSAN,PATHFINDER 4WD,SUV - SMALL,3.5,6,AV,X,12.3,9.3,11.0,26,253
266,2014,CHEVROLET,TAHOE,SUV - STANDARD,5.3,8,A6,E,21.5,14.6,18.4,15,294

In [31]:
# describe the statistical data
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [32]:
# describe more info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [ ]:
# Your task will be to create a simple linear regression model from one of these features to
#  predict CO2 emissions of unobserved cars based on that feature.

# OBSERVATIONS:
# MODELYEAR has 0 standard deviation, and thus has no interesting information content.
# The max in FUELCONSUMPTION_CITY is much much higher than the 75% so this means this could be and OUTLIER

In [ ]:
# PREPROCESSING

# drop the model year since its std is 0 thus it is not interesting
# drop the MAKE, MODEL and VEHICLECLASS cause they seem to not be related to the targeted output logically
df.drop(columns= ["MODELYEAR", "MAKE", "MODEL", "VEHICLECLASS" ], inplace = True)